.containner {
  display: flex;
  flex-direction: column;
  width: 600px;
  border-radius: 24px;
  margin: 0 auto;
  align-items: center;
  margin-top: 30px;
  background-color: #c7d5e0;
  border: 3px solid #1c1d20;
}

.imageSvg {
  display: block;
  width: 50%;
  border-radius: 50%;
  margin: 20px auto;
  background-color: blanchedalmond;
}
.nameHero {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 44px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -1.32px;
}
.tag {
  display: flex;
  justify-content: space-evenly;
  color: #9c9d97;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.5;
}
.location {
  display: flex;
  justify-content: space-around;
  color: #9c9d97;
  font-size: 40px;
  font-weight: 500;
}
.wraper {
  display: flex;
  flex-direction: row;
  background-color: #9c9d97;
  border-top: 3px solid #474f54;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
.itemList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  padding: 20px;
}
.spanText {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.4px;
}

.number {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.4px;
}
